<p-card *ngIf="user" header="Profilja">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Név: </label>
      <span>{{ user.name }}</span>
    </div>
    <div class="p-field">
      <label for="email">Email: </label>
      <span>{{ user.email }}</span>
    </div>
    <div class="p-field" *ngIf="subscription">
      <label for="storageName">Előfizetés: </label>
      <span>{{ subscription.storage.name }}</span>
      <span>{{ '$' + subscription.storage.price }}</span> 
    </div>
  </div>
</p-card>
